<% provide(:title, 'About Me')%>
<div class="center hero-unit">
<h1>About Me</h1>
<p>Hi, my name is Paul Famiglietti |'family-etty'|. I am a self-taught computer programmer and student at <a href="http://law.ucla.edu">UCLA School of Law</a>. I will be joining <a href="http://www.knobbe.com">Knobbe Martens</a> in 2014, specializing in intellectual property law.</p>

<p>I am an avid web developer with experience in Ruby on Rails, PHP, and many other languages. My preferred Linux flavor is <a href="http://www.redhat.com">Red Hat</a>. I am available for freelance coding and consulting. Please <%= link_to "get in touch", contact_path %>!</p>
</div>

