<p>* I'm a <%= link_to "student", "http://law.ucla.edu" %>, <%= link_to "programmer", "" %>, and entrepreneur.</p>

<p>* I taught myself how to code when I was 13. I started 
   with HTML and quickly moved on to Action Script, JavaScript, 
   and PHP during high school. Nowadays, I work mostly in <%= link_to "Ruby on Rails", "" %>.</p>

<p>* I am passionate about intellectual property law (patents, 
   copyright, etc.). I will be joining <%= link_to "Knobbe Martens", "http://www.knobbe.com" %> in 2014.</p>

<p>* Based in Los Angeles, California</p>

<p>* It's pronounced 'family-etty'</p>
	