
<h1>Paul Famiglietti :: Home</h1>

<p>1. I'm a <%= link_to "student", "http://law.ucla.edu" %>, <%= link_to "programmer", "" %>, and entrepreneur.</p>

<p>2. I taught myself how to code when I was 13. I started 
   with HTML and quickly moved on to Action Script, JavaScript, 
   and PHP during high school. Nowadays, I work mostly in <%= link_to "Ruby on Rails", "" %>.</p>

<p>3. I am passionate about intellectual property law (patents, 
   copyright, etc.). I will be joining <%= link_to "Knobbe Martens", "http://www.knobbe.com" %> in 2014.</p>

<p>4. Based in Los Angeles, California</p>

<p>5. It's pronounced 'family-etty'</p>
	