@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 30px;
  background-color: #E6E6E6;
  padding-bottom: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 325px;
  height: 150px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 0;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}



/* container */

.container-fluid {
	max-width: 700px;
	margin: auto;
	padding: 30px;
	background-color: #FFF;
}




.gravatar {
  margin-right: 10px;
  margin-bottom: 20px;
}



.button {
  float: left;
  margin-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #FFF;
  background-color: #0088cc;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  max-width: 180px;
   -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.button_on {
  max-width:180px;
  background-color: #999;
  float: left;
  margin-right: 10px;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
   -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.button:hover {
  background-color: #005580;
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  text-decoration: none; 
}

.button_on:hover {
  background-color: #999;
  text-decoration: none;
}


.button a:link {
  color: #FFF;
  text-decoration: none;
}

.button_on:link {
  color: #FFF;
  text-decoration: none;

}


.button a:visited {
	color: #FFF;
	text-decoration: none;
}

.button_on a:visited {
  color: #FFF;  
	text-decoration: none;
}

.button a:hover {
	color: #FFF;
	text-decoration: none;
}

.button_on a:hover {
color: #FFF;
text-decoration: none;
}

.button a:active {
	color: #FFF;
	text-decoration: none;
}

.button_on a:active {
color: #FFF;
text-decoration: none;

}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}





