

<div id="nav">

<!-- ><div class="button">Home</div></a>
<a href="/about"><div class="button">About</div></a>
<a href="/blog"><div class="button">Blog</div></a>
<a href="/contact"><div class="button">Contact</div></a>
-->	

<%= link_to_unless_current("Home", root_path, :class => 'button') do %>
	<div class="button_on">Home</div>	  
<% end %>

<%= link_to_unless_current("About", about_path, :class => 'button') do %>
	<div class="button_on">About</div>	  
<% end %>

<%= link_to_unless_current("Blog", blog_path, :class => 'button') do %>
	<div class="button_on">Blog</div>	  
<% end %>

<%= link_to_unless_current("Contact", contact_path, :class => 'button') do %>
	<div class="button_on">Contact</div>	  
<% end %>


</div>